<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div id="root">
    <div class="map">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map_canvas"></div>
    </div>
    <div class="overzicht">
        <div>###CONTENT###</div>
    </div>
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCScVCWGbZ9VjossbV4KjgrR7njM1pRXr8&libraries=places"></script>
<script type="text/javascript" src="./js/createMap.js"></script>
<a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
</body>
</html>